<h1>Boxes index</h1>

<ul>
  <% @boxes.each do |box| %>
    <li>
      <%= link_to box.name, box %> 
    </li>
    <%# "#{change_subdomain(@url,@subdomain,account.subdomain)}" %>
  <% end %>
</ul>

<%= if current_tenant.plan==free && @boxes %>
<%= link_to "add new box", new_box_path %>