<h1>Accounts</h1>

<ul>
  <% @accounts.each do |account| %>
    <li>
      <%= link_to account.name,"#{change_subdomain(@url, @subdomain, account.subdomain)}/users" %>
      
    </li>
    <%# "#{change_subdomain(@url,@subdomain,account.subdomain)}" %>
  <% end %>
</ul>