<h1><%= @account.name %></h1>

<h2>Boxes</h2>

<%= link_to 'Create new box', new_box_path %>
<ul>
  <% @boxes.each do |box| %>
    <li>
      <%= link_to box.name, box %> 
    </li>
  <% end %>
</ul>
